{% extends 'generic/object.html' %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block extra_styles %}
<style>
  .attr-table th {
    width: 30%;
  }

  .attr-table td {
    width: 70%;
  }
</style>
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">路径信息</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">名称</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">光缆类型</th>
          <td>
            {% if object.cable_type %}
            {% badge object.get_cable_type_display bg_color=object.get_cable_type_color %}
            {% else %}
            —
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">A端站点</th>
          <td>
            {% if object.site_a %}
            <a href="{{ object.site_a.get_absolute_url }}">{{ object.site_a }}</a>
            {% else %}
            —
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Z端站点</th>
          <td>
            {% if object.site_z %}
            <a href="{{ object.site_z.get_absolute_url }}">{{ object.site_z }}</a>
            {% else %}
            —
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">计算长度 (米)</th>
          <td>{{ object.calculated_length|default:"—" }}</td>
        </tr>
        <tr>
          <th scope="row">描述</th>
          <td>{{ object.description|default:"—" }}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
    {% plugin_right_page object %}
  </div>
</div>
{% endblock %}
